.main-container-project{
  width:auto;
  height: 100vh;
  display:flex;
  flex-direction: row;
  overflow: hidden;
  
}

.project-card-track {
  width: 60%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  margin: auto;
  overflow: auto;
  margin-left: 10px;

  
}

.project-create{
  margin-left:660px;
  background-color: rgb(81, 170, 95);
  font-family: 'Times New Roman', Times, serif;
  font-size:small;
  height: 30px;
  width: 160px;
  border-radius: 10px;
  margin-top: 20px;
   
}

.title-name{
  margin-left: 55px;
  font-weight: bold;
}

.search-projects{
font-size:70%;
margin-top: -32px;
margin-left: -170px;
}

.search-box-projects{
margin-top: 3px;
margin-left: 290px;
width: 150px;
height: 25px;
border-radius: 8px;
background-color: rgb(216,231,218);
border: 10px;

}

.testing{
margin-bottom: 40px;
}

.n2{
  
  font-size: 25px; 
  margin-left: 100px;
 
} 

.title-name-project{
  margin-left: 120px;
  margin-top: 10px;
}